#  pip install virtualenv
#  python -m venv env3
#  env3\Scripts\activate
# pip install -r requirements.txt

flask
flask_restful
Flask-Session
requests
msal
python-dotenv
azure-common
azure-nspkg
azure-storage
cryptography
PyJWT