{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>Subscriptions</h1>
</div>

<div class="row">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">State</th>
                <th scope="col">OfferId</th>
                <th scope="col">PlanId</th>
                <th scope="col">Quantity</th>
                <th scope="col">SubscriptionId</th>
                <th scope="col">Actions</th>
                <th scope="col">Pending operations</th>
            </tr>
        </thead>
        <tbody>
            {% for key, subscription in subscriptions.items() %}
                {% for item in subscription %}
                    <tr>
                        <td>{{ item['name'] }}</td>
                        <td>{{ item['saasSubscriptionStatus'] }}</td>
                        <td>{{ item['offerId'] }}</td>
                        <td>{{ item['planId'] }}</td>
                        <td class="text-center">{{ 0 }}</td>
                        <td>{{ item['id'] }}</td>
                        <td>
                            {% if item['saasSubscriptionStatus'] !="Unsubscribed"  %}
                            <a href={{ url_for('edit', subscriptionid=item['id']) }}>Update</a>
                            {% endif %}
                        </td>
                        <td  class="text-center">{{ 0 }}</td>
                    </tr>
                {% endfor %}
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
